/************ Basic ***********/
body 
{
	color: #515050;
	background-color: #f9f9f9;
}

.main-wrapper
{
	padding: 10px 0 10px 0;
	border: 4px solid #00416f;
	border-bottom: 15px solid #00416f;
	border-top: 10px solid #00416f;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow: hidden;
}

.month-wrapper 
{
	background-color: :#00416f repeat;
	color: #00416f;
}
.top-date1 
{
	font-size: 14px;
	text-align: left;
	margin-bottom: 15px;
}

.top-date2
{
	font-size: 14px;
	text-align: right;
	margin-bottom: 15px;

}


#left-navig
{
	position: absolute;
	width: 50px;
	height: 100%;
	top:0;
	left:0;
	background-color: #c8e8fe;
	opacity:0.1;
}

#left-navig:hover, #right-navig:hover
{
	opacity: 0.4;
}

#right-navig
{
	position: absolute;
	width: 50px;
	height: 100%;
	top:0;
	right:0;
	background-color: #c8e8fe;
	opacity:0.1;
}

.day-label 
{
	margin: 0px;
	padding: 0px;
}

.top-container
{
	margin: 0px;
	padding: 0px;
	color: #000;
	background: linear-gradient(to bottom, white 0%, rgb(243, 243, 243) 100%) repeat scroll 0% 0% transparent;

}

ul.day-label-top li
{
	padding: 0px;
	margin: 0px;
	position: relative;
	list-style: none;
	border-right: 2px solid #00416f;
	display: inline;
}

.block 
{
	position: relative;
}

#border-down
 {
 	position: absolute;
	width: 90%;
	border-bottom: 2px solid #00416f; /* #f51c40 */
	top: 0;
	bottom: 0;
	margin-left: 3px;
 }

#top-border-down
 {
 	position: absolute;
	width: 90%;
	border-bottom: 2px solid #f51c40; /* #f51c40 */
	top: 0;
	bottom: 0;
	margin-left: 3px;
 }


ul.day-container li
{
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
	position: relative;
	list-style: none;
	display: inline;
	border-right: 2px solid #00416f;
	overflow: hidden;
}

/****** MONTHS LABEL ******/

ul.day-container li .nep-month
{
	font-size: 12px;
	text-align: center;
	color: #00416f;

}

ul.day-container li .eng-month
{
	font-size: 12px;
	text-align: center;
	color: #00416f;

}

/****** MONTHS LABEL ******/

/****** END FONTS LABEL ******/

ul.day-label-top li .nep-font
{
	font-size: 20px;
	text-align: center;
	height: 47px;
}


ul.day-label-top li .eng-font 
{
	margin: -23px -10px 0px;
	font-size: 8px;
	text-align: right;
}

/****** END FONTS LABEL ******/

/*
ul.day-label-top li .date-label 
{
	margin: -5px 0px;
	font-size: 12px;
	text-align: center;
}
*/

#date-label 
{
	margin-top: -5px;
	padding-bottom: 5px;
	height: 20px;
	font-size: 10px;
	color: red;
	text-align: center;
}

/* red color on holiday */
.holiday
{
	color: red;
}

#adtobs, #bstoad
{
	float: right;
}

.borderyes 
{
	border: 1px solid #000;
}

.this 
{
	background-color: #fff714;
}
/** select form **/
select {
	display: block;
	position: relative;
	top: 2px;
	height: 2.3125em;
	padding: 0px;
	width: 100%;
	font-size: 0.875em;
	margin-bottom: 0.5em;
	direction: ltr;
	-moz-box-sizing: border-box;
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	line-height: 2.25em;
	background: linear-gradient(to bottom, white 0%, rgb(243, 243, 243) 100%) repeat scroll 0% 0% transparent;
	border: 1px solid rgb(204, 204, 204);

}